%footer.rows-footer
  48rails by
  %a{href: 'http://www.programmersinpadua.it'} Programmers in Padua
  &middot;
  Follow
  %a{href: 'http://twitter.com/48rails'} @48rails
  &middot;
  Reach us at
  %a{href: 'mailto:ninja@48rails.it'} ninja@48rails.it
  &middot;
  %a{href: 'http://2012.48rails.it/?lang=en'} 2012 Edition
  &middot;
  missed our  
  = link_to 'awesome trailer?', trailer_path