%body.rows

  .row.hackathon-title
    %section.row-content
      %h1.row-title<
        = image_tag 'dark_green.png', style: 'bottom: -35px; left: 50px;'
        48rails                                            

  .row.hackathon-description
    %section.row-content
      %article.row-content-single
        %h2.row-title A unique kind of hackathon
        %p 
          The 
          %a{href: 'http://railsrumble.com', target: '_blank'} RailsRumble 
          is the true, unavoidable hacking appointment for every respectable Rails developer all around the world.

        %p
          In this occasion, 48rails gathers the cream of the italian Ruby and Rails community &mdash; whom we call the &ldquo;ninjas&rdquo; &mdash; in the very same place, fulfilling all their practical needs so that they can focus on hacking for 48 hours straight
      
      %article.row-content-single.row-content-bottom
        %div
          %img{src: 'http://maps.googleapis.com/maps/api/staticmap?center=via+Belzoni+146,Padova,IT&markers=color:0x4dba6d%7C45.4070613,11.8918798&zoom=14&size=300x216&sensor=false'}

      %article.row-content-single.row-content-bottom
        %div
          %h4.row-important 
            19&ndash;20 October
            %br/
            via Belzoni 146, Padua
          %ul
            %li Team working place, AC and wifi
            %li Bedrooms
            %li Food and drinks, including sushi
            %li Snacks (mostly healthy)
            %li Caffeine, in every liquid form
            %li Metrics-based prizes (no faulty jury)

  .row.hackathon-tickets
    %section.row-content
      %article.row-content-double
        %p Buying tickets for your whole team? Want an invoice? Just ask!
      
      %article.row-content-single
        %h2.row-title Buy our ticket &amp; register to RRumble

        %p 
          In addition to buying one of our tickets, it is of the utmost importance to register your team to the RailsRumble between
        %h4.row-important 7 &ndash; 13 Oct  
        %p 
          through their awesome website,
          %a{href: 'http://railsrumble.com', target: '_blank'} http://railsrumble.com 


  .row.hackathon-social
    %section.row-content
      %article.row-content-single
      %article.row-content-single
      %article.row-content-single
        %h2.row-title Ninjas are social, too
        %p We set up a facebook group where you can meet the other Rails ninjas, and maybe find your next teammate:
        %h4.row-important
          %a{href: 'https://www.facebook.com/groups/48rails/', target: '_blank'} Join teambuilding group

        %p 
          And don't forget to 
          %a{href: 'http://twitter.com/48rails', target: '_blank'} follow 48rails 
          on twitter, and tweet with the hashtag
        %h2.row-important #48rails

  .row.hackathon-sponsors
    %section.row-content
      %article.row-content-triple
        %h2.row-content-single.row-title.hackathon-sponsors-tier 
          Sponsors
          %br>
          large
        
        %p.row-content-double 

      %article.row-content-triple
        %h3.row-content-single.row-title.hackathon-sponsors-tier medium
        %p.row-content-double        

      %article.row-content-triple
        %h4.row-content-single.row-title.hackathon-sponsors-tier small
        %p.row-content-double     

  .row.hackathon-be-sponsor
    %section.row-content
      
      %article.row-content-single.row-content-bottom
        %div
          %img{src: 'http://maps.googleapis.com/maps/api/staticmap?center=Piz+Boè&markers=color:0x2c3f51%7C46.5088888,11.8280556&maptype=hybrid&zoom=11&size=300x216&sensor=false'}
          = image_tag 'thanking_top_sponsors_2012.jpg'

      %article.row-content-single
        %h2.row-title We &hearts; our sponsors
        %p
          Without the help of our awesome sponsors, it would be impossible to setup an event like this. 
        %p 
          We do our best to give them back visibility, infinite gratitude and&hellip; epicness! 

        %p 
          In addition to the standard stuff (their logo on the website, the t-shirts, the mugs), the top sponsors of ed. 2012 got our thanks from the top of Piz Boè, 3152 m high. And this year we are going far beyond: we'll greet them

        %h3.row-important free falling from an airplane!

      %article.row-content-single.row-content-bottom
        %div
          %a.hackathon-be-sponsor-prospectus{href: 'https://www.dropbox.com/s/t40lmm83k3q0gqq/48rails_2013_sponsorship.pdf', target: '_blank'} Sponsorship prospectus (5,8 MB)


  .row.hackathon-partners-and-organizers
    %section.row-content
      %article.row-content-single
        %h2.row-title Awesome partners, lovely organizers
        %p 48rails is built with the help of many technical, logistic and media partners. 

        %p The hackathon is brought to you by some lovely folks from programmers in padua.
      %article.row-content-double
        = image_tag 'logos/digital-meet.jpg'