// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html
  height: 100%

body 
  height: 100%

footer
  clear: both
  font-size: .8em
  text-align: center

  &, & a, & a:visited
    color: #ccc

  & a 
    text-decoration: none

  & a:hover
    color: whiteSmoke