@import compass
@import susy


.landing-page
  +container
  background: black
  color: whiteSmoke

.landing-page-footer
  text-align: center

  &, & a, & a:active, & a:visited
    color: #ccc
    border-bottom: none

  & a 
    text-decoration: none

  & a:hover
    color: whiteSmoke