@import compass
@import susy
@import breakpoints

.hackathon-title
  background-color: white
  color: #4dba6d   
  text-align: center 
  +nowrap
  +at-breakpoint($mobile)
    color: transparent      

.hackathon-social
  background-color: #f0c419 // yellow
  border-color: #f49e20
  +at-breakpoint($tablet-and-desktop)
    +background-image(linear-gradient(left, #f0c419 50%, #f49e20 50%))

  section:after
    background-color: #f0c419

  +at-breakpoint($mobile)
    article:first-of-type, article:nth-of-type(2)
      display: none

  +at-breakpoint($tablet)
    article:nth-of-type(2)
      display: none

  +at-breakpoint($desktop)
    section
      background: transparent image_url('ninja_gru_move.png') no-repeat 90% 100.5%



.hackathon-description
  background-color: #4dba6d // green
  border-color: #1eaf60
  +at-breakpoint($tablet-and-desktop)
    +background-image(linear-gradient(left, #1eaf60 50%, #4dba6d 50%))

  section:after
    background-color: #4dba6d

  +at-breakpoint($tablet)
    article:nth-of-type(2)
      float: right
      +omega

.hackathon-tickets
  background-color: #965ca5 // violet
  border-color: #8a4c9e   
  +at-breakpoint($desktop) 
    +background-image(linear-gradient(left, #8a4c9e 50%, #965ca5 50%))

  section:after
    background-color: #8a4c9e  

  +at-breakpoint($tablet)
    article
      +span-columns(12, 12)



.hackathon-sponsors
  background-color: #3898d4 // blue
  border-color: #2780bb 
  +at-breakpoint($tablet-and-desktop)
    +background-image(linear-gradient(left, #2780bb 50%, #3898d4 50%))

  section:after
    background-color: #3898d4

  li
    margin-top: 36px
    
    +at-breakpoint($tablet-and-desktop)
      &:first-child
        margin-top: 0


.hackathon-partners-and-organizers
  background-color: #e77e25 // orange
  border-color: #d65627  
  +at-breakpoint($tablet-and-desktop)
    +background-image(linear-gradient(left, #d65627 50%, #e77e25 50%))

  section:after
    background-color: #e77e25

  li 
    margin: 0 10px 9px 0
    background: white


  .hackathon-partners-and-organizers-square
    height: 125px
    +at-breakpoint($mobile)
      width: 49%

      &:nth-child(2n+1)
        margin-right: 2%

      &:nth-child(2n)
        margin-right: 0

  .hackathon-partners-and-organizers-rect
    height: 125px
    +at-breakpoint($mobile)
      width: 100%
      margin-right: 0 

  .hackathon-partners-and-organizers-face
    background: transparent
    height: 32px
    margin: 0
    +at-breakpoint($tablet)
      height: 40px
    +at-breakpoint($desktop)
      height: 54px
      margin: 0 10px 0 0


    img 
      height: 32px
      +at-breakpoint($tablet)
        height: 40px
      +at-breakpoint($desktop)
        height: 54px

  .hackathon-partners-and-organizers-pip
    width: 499px
    max-width: 100%


.hackathon-partners-and-organizers, .hackathon-sponsors

  ul 
    list-style-type: none
    margin-top: 0
    +clearfix

    &:not(:last-child)
      margin-bottom: 54px

  li
    float: left 
    text-align: center

    &:last-child
      margin-bottom: 0
  
    a 
      border-bottom: none



.hackathon-be-sponsor
  background-color: #354a5f // night-blue
  border-color: #2c3f51
  +at-breakpoint($tablet-and-desktop)
    +background-image(linear-gradient(left, #2c3f51 50%, #354a5f 50%))

  section:after
    background-color: #354a5f

  +at-breakpoint($mobile)
    article:first-of-type
      display: none

  +at-breakpoint($tablet)
    article:first-of-type
      float: right
      +omega

  +at-breakpoint($desktop)
    section
      background: transparent image_url('thanking_top_sponsors_2013.png') no-repeat right 80%


.hackathon-sponsors-tier
  text-align: left
  +at-breakpoint($desktop)
    text-align: right

.hackathon-be-sponsor-prospectus
  padding: 15px 0 5px 30px
  background: transparent image-url('pdf-icon.png') no-repeat left bottom


.hackathon-face
  width: 22%
  +border-radius(50%)
  margin: 0 2% 4px 0
  border: 4px solid #f49e20
  +box-sizing(border-box)

  &:nth-of-type(4n)
    margin-right: 0


.hackathon-tweet
  margin-bottom: 27px
  +span-columns(3, 4)
  font-size: 27px
  line-height: 1.3

  &:first-child
    margin-top: 0

.hackathon-tweet-date, .hackathon-tweet-link
  font-size: 14px
  display: inline-block

.hackathon-tweet-date

.hackathon-tweet-link
  margin: 9px 10px 0 0
  border-bottom-color: transparent