@import compass
@import susy
@import breakpoints

#mc_embed_signup
  margin-top: 36px

.inline-field 
  display: inline-block

  label
    display: none  

  input
    width: 100%
    padding: 8px 10px
    +box-sizing(border-box)

.inline-submit
  display: inline-block

+at-breakpoint($mobile)

  input
    font-size: 1em

  .inline-field 
    +span-columns(6 omega, 6)

  .inline-submit
    +span-columns(4, 6)
    +squish(1, 1, 6)

    input
      width: 100%

+at-breakpoint($tablet-and-desktop) // tablet and desktop

  .inline-field 
    +span-columns(5, 7)

  .inline-submit
    +span-columns(2 omega, 7)