@import compass
@import susy
@import breakpoints

$border-bottom-width: 30px
$row-min-height: 250px
$padding-top-and-bottom: 36px

.row // this is the background, spanning 100% width
  min-height: $row-min-height
  //border-bottom: $border-bottom-width solid  

  +at-breakpoint($desktop)
    .row-content:after
      content: ''
      display: block
      position: absolute
      top: 0
      height: 100%
      width: columns(4, 12)
      margin-left: columns(4, 12)
      z-index: -1

// content

.row-content
  +container
  position: relative
  min-height: $row-min-height
  vertical-align: bottom
  z-index: 1
  +clearfix

  article
    padding: $padding-top-and-bottom 0

  img 
    position: relative
    max-width: 100%


.row-content-single, .row-content-double, .row-content-triple

  &:last-child
    +omega

+at-breakpoint($mobile)
  .row-content-single, .row-content-double, .row-content-triple
    +span-columns(6, 6)

+at-breakpoint($tablet)
  .row-content-single, .row-content-double
    +span-columns(6, 12)

  .row-content-triple
    +span-columns(12, 12)

+at-breakpoint($desktop)

  .row-content-single
    +span-columns(4, 12)

    &.row-content-bottom div 
      max-width: columns(4, 12) - gutter(12)

  .row-content-double
    +span-columns(8, 12)

    &.row-content-bottom div 
      max-width: columns(8, 12) - gutter(12)

  .row-content-triple
    +span-columns(12 omega, 12)

    &.row-content-bottom div 
      max-width: columns(12, 12)

  .row-content-bottom div
    position: absolute
    bottom: $padding-top-and-bottom
    //max-width: columns(4, 12) - gutter(12)
    
.row-title, .row-important
  margin: 0
  line-height: 1
  +at-breakpoint($tablet-and-desktop)
    +text-shadow(1px -1px 0 #aaa)


